# Postgres
POSTGRES_DB=woode_vpn
POSTGRES_USER=woode
POSTGRES_PASSWORD=change_me

# Backend
PORT=3000
APP_PUBLIC_BASE_URL=https://your-domain.com
APP_DOMAIN=your-domain.com
ADMIN_API_KEY=change_me_admin_api_key
METRICS_API_KEY=change_me_metrics_api_key
YOOKASSA_SHOP_ID=123456
YOOKASSA_SECRET_KEY=test_xxx_or_live_xxx

# Telegram bot
TELEGRAM_LOGO_PATH=/app/logo.jpg
TELEGRAM_BOT_TOKEN=replace_with_botfather_token
BACKEND_BASE_URL=http://app:3000
