DATABASE_URL="postgresql://postgres:postgres@localhost:5432/woode_vpn?schema=public"
PORT=3000
APP_PUBLIC_BASE_URL="http://localhost:3000"
YOOKASSA_SHOP_ID=""
YOOKASSA_SECRET_KEY=""

# JSON array of x-ui panels.
# Example:
# [
#   {
#     "id": "de-1",
#     "country": "DE",
#     "baseUrl": "https://de-panel.example.com",
#     "username": "admin",
#     "password": "password",
#     "publicHost": "de-vpn.example.com",
#     "inboundIds": [1],
#     "enabled": true
#   }
# ]
XUI_SERVERS_JSON="
[
  {
    "id": "nl-1",
    "country": "NL",
    "baseUrl": "https://vpn.netherlands.woodemai.online:32152/xQCLgogFhmGrwrUEqG/",
    "username": "woodemai",
    "password": "a1YlHJrpsEOzjv",
    "publicHost": "https://vpn.netherlands.woodemai.online",
    "inboundIds": [1],
    "enabled": true
  },
    {
    "id": "de-1",
    "country": "DE",
    "baseUrl": "https://vpn.germany.woodemai.online:32152/x5w5ObGMAQQBqb5cJv/panel/",
    "username": "woodemai",
    "password": "a1YlHJrpsEOzjv",
    "publicHost": "https://vpn.germany.woodemai.online",
    "inboundIds": [1],
    "enabled": true
  }
]"
